html {
    display: flex;
    background-color: #BFC0C0;
}

header {
    background-color: #2D3142;
    height: 30vw;
    width: 100%;
    display: flex;
    box-shadow: 1px 1px 12px black;

    align-items: center;
}

header p {
    color: #BFC0C0;
    font-size: 4vh;
    padding-left: 3vh;
}

body {
    height: 100vw;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

div#contenu1 {
    height: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#sousContenue1 {
    display: flex;
    justify-content: space-around;
}

div#sousContenue1 p {
    display: flex;
    margin: 2rem;
    margin-top: 9vw;
    width: 20vw;
    height: 20vw;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 3vh;
    max-width: fit-content;
    max-height: fit-content;
}

div#cercle {
    display: flex;
    margin-top: 5vw;
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 6px black;
    justify-content: center;
    align-items: center;
}

div#rectangle {
    display: flex;
    margin-top: 10vw;
    width: 93vw;
    height: 11vw;
    background: white;
    box-shadow: 1px 1px 6px black;

    align-items: center;
}

div#contenu2 {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.titre {
    margin: 100px;
    margin-right: 50px;
}

div.rectangleC2 {
    display: flex;
    margin: 4vw;
    margin-top: 5vw;
    width: 20vw;
    height: 25vw;
    background: white;
    box-shadow: 1px 1px 6px black;
}

div.rectangleC2 div.low {
    display: flex;
    height: 40%;
    width: 19.3vw;
    background-color: #EF8354;
    justify-content: center;
    align-items: center;

    border: thick double;
    border-color: #2D3142;
}

a{
    text-decoration: none;
    color: black;
}

div.rectangleC2 div.high {
    display: flex;
    height: 60%;
    width: 20vw;
}

img {
    height: 100%;
    width: 20vw;
}

div#boutonPlus {
    display: flex;
    margin: 1vw;
    margin-top: 5vw;
    width: 20vw;
    height: 25vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#boutonPlus img {
    height: 15vw;
    width: 15vw;
}

footer {
    background-color: #2D3142;
    height: 10vw;
    width: 100%;
}